.container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.image {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 1rem;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  object-position: center;
}

.container h2 {
  text-transform: capitalize;
  margin: 1rem 0;
}

.container h3 {
  color: var(--overlay);
}

.container p {
  line-height: 2rem;
}

.container a {
  transition: all 0.3s;
  font-weight: bold;
}

.container a:hover {
  color: var(--overlay);
  letter-spacing: 5px;
}
