.container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.cover {
  max-width: 800px;
  padding: 2rem;
  background-color: rgb(19, 19, 19);
}

.image {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 1rem;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  object-position: center;
}

.container h2 {
  text-transform: capitalize;
  margin: 1rem 0;
  font-size: 3rem;
}

.container h3 {
  color: var(--overlay);
  font-size: 1.5rem;
}

.container p {
  line-height: 2rem;
  margin: 2rem 0;
}

.container a {
  transition: all 0.3s;
  font-weight: bold;
  font-size: 1.5rem;
}

.container a:hover {
  color: var(--overlay);
  letter-spacing: 5px;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 750px) {
  .cover {
    max-width: 100%;
    padding: 0;
    padding-bottom: 1rem;
  }

  .info {
    padding: 0.5rem 1rem;
  }

  .container h2 {
    font-size: 2rem;
  }

  .container a {
    margin-left: 1rem;
  }
}
