.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
}

.location {
  display: flex;
  flex-direction: column;
}

.contactLink a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactLink a h1 {
  font-size: clamp(2.5rem, 4.5rem, 5.5rem);
}

.contactLink a svg {
  font-size: clamp(2rem, 2.5rem, 3rem);
  margin-left: 1rem;
  animation: arrow 1.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}

.rightsLink {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
}

.rights span {
  color: var(--base);
  padding: 0;
  margin: 0;
}

.rights span:nth-child(1) {
  color: var(--base);
}
.rights span:nth-child(2) {
  color: var(--base);
}
.rights span:nth-child(3) {
  color: var(--base);
}

.links ul {
  display: flex;
  list-style: none;
}

.links ul li {
  margin: 0 1rem;
  text-transform: capitalize;
}

/* media */

@media screen and (max-width: 750px) {
  .rightsLink {
    gap: 1rem;
  }
}
