html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--secondary);
  background-color: var(--primary);
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: proximity;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* color */
  --primary: #000;
  --secondary: #fff;
  --custom: #f6f4f2;
  --base: #fab162;
  --overlay: rgb(250, 177, 98, 0.502);
  /* text */
  --largeText: 3rem;
  --midText: 2rem;
  --smallText: 1rem;
  --paragraph: 1.5rem;
  --logoText: 3.5rem;
  /* padding */
  --largePadding: 3rem;
  --midPadding: 2rem;
  --smallPadding: 1rem;
  /* margin */
  --largeMargin: 3rem;
  --midMargin: 2rem;
  --smallMargin: 1rem;
  /* border */
  --largeBorder: 1.5rem;
  --midBorder: 1rem;
  --smallBorder: 0.5rem;
}
/* @media (prefers-color-scheme: light) {
  :root {
    --primary: #fff;
    --secondary: #000;
    --custom: #f6f4f2;
    --base: #79c2f7;
  }
} */

a {
  color: inherit;
  text-decoration: none;
  color: var(--base);
}

header {
  max-width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  min-height: 40vh;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--midPadding) 0;
  overflow: hidden;
  border-top: 0.3rem solid var(--base);
  margin-top: var(--midMargin);
}

footer h3 {
  text-transform: capitalize;
}
