.container {
  background-color: var(--primary);
  background-image: url("/bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  height: 100vh;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  z-index: 1;
  color: var(--custom);
  overflow: hidden;
}

.sideNote {
  font-size: 1.5rem;
}

.hero {
  font-size: clamp(2rem, 5rem, 6rem);
  grid-column: span 2;
}

.homeVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 750px) {
  .main {
    grid-template-columns: 100%;
    justify-items: center;
  }
  .sideNote {
    align-self: end;
  }
}
