.imageContainer {
  position: relative;
  width: 100%;
  height: 500px;
  color: var(--base);
}

.imageContainer img {
  object-fit: cover;
  object-position: center;
  min-height: 400px;
}

.imageContainer p {
  text-align: center;
}
