.portfolioConatainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4rem 1rem;
}

.portfolioBox {
  width: 100%;
  height: 100%;
  background-color: var(--base);
  color: var(--custom);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: var(--smallBorder);
  overflow: hidden;
}

.portfolioBox h2,
.portfolioBox h4 {
  margin: 0.8rem 0;
  text-align: center;
}
.portfolioBox h4 {
  margin-top: 0;
}

.image {
  position: relative;
  width: 100%;
  height: 400px;
  /*   background-image: url("../public/bg1.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: var(--custom);
  background-blend-mode: darken;
  transition: all 0.3s ease-in;
}

.image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in;
  text-transform: capitalize;
  display: grid;
  place-content: center;
  font-size: clamp(2rem, 2.5rem, 3rem);
}

.image:hover::before {
  background-color: var(--overlay);
  content: "View project";
}

.image img {
  transition: all 0.3s ease-in;
}

.image:hover img {
  transform: scale(1.1);
}
